.piece {
    width: 100px;
    height: 100px;
    background-color: slategray;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5%;
    display: inline-block;
}

.disabled {
    width: 100px;
    height: 100px;
    background-color: slategray;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5%;
    display: inline-block;
    pointer-events: none;
}

.memorygame{
    background: cornsilk;
    border: thin black;
    border-top: 20px;
    width: 75vw;
    height: 85vh;
    border-radius: 30px;
    padding: 20px;
    display:  inline-block;
    position: relative;
    margin: 10px;
    top: 100px;
    right: 0;
}

.piece:hover {
    transform: rotate(5grad);
    /*position: relative;*/
    /*bottom: 5px;*/
    /*left: 3px;*/
    background-color: darkslategray;
}

.highlight {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5%;
    display: inline-block;
}

.hit {
    width: 100px;
    height: 100px;
    background-color: forestgreen;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5%;
    display: inline-block;
}

.missed {
    width: 100px;
    height: 100px;
    background-color: red;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5%;
    display: inline-block;
}

h1 {
    text-align: center;
    border-bottom: 4px solid darkcyan;
    padding-bottom: 6px;
}

body {
    background-color: lightgrey;
}

section {
    display: flex;

    border: 2px solid darkcyan;
}